* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
/* header*/
header {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 18%,
    rgba(253, 187, 45, 1) 90%,
    rgba(253, 187, 45, 1) 115%,
    rgba(253, 187, 45, 1) 122%,
    rgba(253, 187, 45, 1) 127%
  );
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100%;
}

/* index.html */

/*producto.html */
@media (min-width: 992px) {
  .alto {
    height: 100%;
  }
}
.display-5 {
  color: black;
  font-weight: bold;
  font-family: "arial";
  font-size: 4rem;
  letter-spacing: 15px;
  text-shadow: 4px 4px 5px #cdcdcd;
  animation: flotar 3s linear infinite alternate;
}

@keyframes flotar {
  form {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* nosotros.html*/

/* contactanos.html */

/* ayuda.html */

/* footer */
.footer {
  background-color: #ab651f;
  padding-top: 2rem;
}

.conteiner__footer {
  background-color: black;
  font-size: 1.25rem;
}

.iconos__footer {
  text-align: center;
  color: white;
}

.iconos__footer a {
  color: white;
}

.iconos__footer a i {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.iconos__footer :hover,
.iconos__footer:focus {
  opacity: 0.65;
}
.social {
  color: white;
  text-align: center;
}
/* footer */
