* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
/* header*/
header {
  background: rgb(167, 105, 35);
  background: linear-gradient(
    0deg,
    rgba(167, 105, 35, 1) 21%,
    rgba(203, 125, 37, 1) 49%,
    rgba(232, 140, 36, 1) 81%,
    rgba(195, 135, 66, 1) 100%,
    rgba(230, 178, 119, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100%;
}

/* index.html */

/*producto.html */
@media (min-width: 756px) {
  .alto {
    height: 100%;
  }
}
.display-5 {
  color: black;
  font-weight: bold;
  font-family: "arial";
  font-size: 4rem;
  letter-spacing: 15px;
  text-shadow: 4px 4px 5px #cdcdcd;
  animation: flotar 3s linear infinite alternate;
}

@keyframes flotar {
  form {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* nosotros.html*/

/* contactanos.html */
#contacto {
  width: 80%;
  height: 80%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 40px "Oswald", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.form-horizontal {
  max-width: 80%;
  font-family: "Lato";
  font-weight: 80%;
}

.form-control,
textarea {
  max-width: 100%;
  background-color: #000;
  color: #000;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 300px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 300px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
  max-width: 80%;
}

.contact-list {
  list-style-type: none;
  margin-left: -70px;
  padding-right: 5px;
}

.list-item {
  line-height: 4;
  color: #000;
}

.contact-text {
  font: 300 15px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #000;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #000;
  text-decoration: none;
}
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: orange;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: #000;
}
@media screen and (max-width: 756px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/* ayuda.html */
h1 {
  margin: 0px;
}

.reveal-text,
.reveal-text:after {
  animation-delay: 5;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0.1, 1, 0);
}

.reveal-text {
  margin-top: 20px;
  position: relative;
  font-size: 30px;
  user-select: none;
  animation-name: reveal-text;
  color: #000;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  50% {
    transform: scaleX(1);
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* footer */
.footer {
  background-color: #ab651f;
  padding-top: 2rem;
}

.conteiner__footer {
  background-color: black;
  font-size: 1.25rem;
}

.iconos__footer {
  text-align: center;
  color: white;
}

.iconos__footer a {
  color: white;
}

.iconos__footer a i {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.iconos__footer :hover,
.iconos__footer:focus {
  opacity: 0.65;
}
.social {
  color: white;
  text-align: center;
}
/* footer */
